#showcase {
    position: relative;
    background: url(../img/showcase.jpg);
    min-height: 500px;
}
#showcase .primary-overlay{
    background: rgb(2, 195, 154,0.8);
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
}
.bg-cream{
    background-color: rgb(240, 243, 189);
}
.text-primary-color{
    color:rgb(5, 102, 141);
}
#main-footer{
    background-color: #00A896;
    color: #ffffff;
}
#showcase-area {
    background: rgb(2, 195, 154,1);
}
.header{
    color:rgb(5, 102, 141);
    border-bottom: solid 1px rgb(5, 102, 141) ;
}